
/* Carousel base class */
.carousel {
  height: 586px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
z-index: 10;
position: absolute;
top: 10%;
left: 13%;
width: 32%;
height: auto;
text-align: left;
}

.carousel-caption p {
  color:#FFF;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size: 2em;
}

.carousel-caption h1 {
  color:#FFF;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight:bold;
  font-size: 5em;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 586px;
  background: url('../img/broadbean-banner-bg.jpg');
}
.carousel-inner > .item > img {
  position: absolute;
  top: 5%;
  left: 35%;
  min-width: 60%;
  height: auto;
}

.carousel-indicators {
 position: absolute;
  top: 85%;
  left: 16%;
  height: auto;
}

.carousel-indicators .active {

width: 20px;
height: 20px;
margin: 0;
border: 0px solid #CCC;
background-color: #FF6700;
}

.carousel-indicators li {
display: inline-block;
width: 20px;
height: 20px;
margin:0px !important;
text-indent: -999px;
cursor: pointer;
background-color: #0071BB;
border: 0px solid #CCC;
border-radius: 0px;
}

.carousel-control.left, .carousel-control.right {
  display:none;
}



