
h1 {
    color: #0071BB;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 4em;
    font-weight: bold;
}
h2 {
    color: #FF6700;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 3em;
}
h3 {
    color: #FF6700;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 30px;
}
.blue-btn {
    background: none repeat scroll 0 0 #0071BB;
    color: #FFFFFF;
}
.orange-btn {
    background: none repeat scroll 0 0 #FF6700;
    color: #FFFFFF;
}
.btn-lg {
    font-size: 26px;
}
.btn:hover, .btn:focus {
    color: #EFEFEF;
    text-decoration: none;
}
.white-title {
    color: #FFFFFF;
}
.no-top-margin {
    margin-top: 0;
    padding-top: 0;
}
.panel-default > .panel-heading {
    background-color: #0071BB;
    border-color: #025F93;
    color: #FFFFFF;
}
.panel-title {
    color: #FFFFFF !important;
}
.centre-images {
    margin: 0 auto;
}
.jxt-logo {
    background: url("../img/jxt-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 50px;
    margin: 10px 10px 5px;
    padding: 0;
    text-indent: -999em;
    width: 100px;
}
.navbar-inverse {
    border: 0 none !important;
    border-radius: 0 !important;
    margin-bottom: 0;
    min-height: 50px;
    position: relative;
}
.top-nav1 {
    background: none repeat scroll 0 0 #222222;
    display: block;
    width: 100%;
}
.broadbean-slider {
    border-bottom: 1px solid #CCCCCC;
}
.whoIs {
    display: block;
    padding: 30px 0 60px;
    width: 100%;
}
.getInTouch {
    background-color: #F5F5F6;
    border-top: 1px solid #DEDEDE;
    display: block;
    padding: 30px 0 80px;
    width: 100%;
}
.portfolio {
    background-color: #0071BB;
    color: #333333;
    display: block;
    padding: 30px 0 70px;
    width: 100%;
}
.clientsLogos {
    background-color: #F5F5F6;
    display: block;
    padding: 30px 0;
    width: 100%;
}
.footer-section {
    background-color: #111111;
    color: #FFFFFF;
    display: block;
    padding: 10px 0;
    width: 100%;
}
.portfolio-frame {
    background: none repeat scroll 0 0 #FFFFFF;
    min-height: 600px;
    padding: 20px;
}
.navbar-nav > li > a {
    padding-top: 23px;
}
.top-bb-links {
    font-size: 16px;
}
.tophead-spacing {
    margin: 0 auto;
    width: 95%;
}
.back-to-top {
    background-color: rgba(235, 235, 235, 0.8);
    bottom: 2em;
    color: #333333;
    display: none;
    font-size: 16px;
    padding: 1em;
    position: fixed;
    right: 50px;
    text-decoration: none;
}
.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.5);
    color: #FFFFFF;
}
#filter {
    margin: 10px 50px 30px;
}
#list li {
    float: left;
    list-style-type: none;
    margin: 0 0 30px;
    min-height: 300px;
    text-align: left;
}
#list img {
    border: 1px solid #DEDEDE;
}
#list p {
    color: #444444;
    font-size: 12px;
    font-weight: normal;
}
#list h3 {
    color: #FF6700;
    font-size: 25px;
}
ul.socialLinks {
    float: left;
    margin: 0;
    padding: 0;
}
ul.socialLinks li {
    display: inline-block;
    padding-right: 10px;
}
ul.socialLinks li a {
    background: url("../img/social-sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 31px;
    padding: 0;
    position: relative;
    text-indent: -99999px;
    width: 31px;
}
ul.socialLinks li a#linkedIn {
    background-position: 0 0;
}
ul.socialLinks li a#facebook {
    background-position: -41px 0;
}
ul.socialLinks li a#twitter {
    background-position: -82px 0;
}
ul.socialLinks li a#gplus {
    background-position: -123px 0;
}
.copyright-links a {
    color: #FFFFFF;
    display: inline-block;
    margin-left: 10px;
}
.copyright-links {
    float: right;
    line-height: 1.6em;
    text-align: right;
}
ul.socialLinks li a#youTube {
    background-position: -163px 0;
}
ul.socialLinks li a#pinterest {
    background-position: -204px 0;
}
ul.socialLinks li a#instagram {
    background-position: -242px 0;
}
ul.socialLinks li a:hover {
    top: -2px;
}
.getInTouch input.form-control, .getInTouch select.form-control  {
     height: 54px;
     width: 90%;
 }

.getInTouch textarea.form-control {
    width: 90%;
}


@media (max-width: 1300px) {
.carousel-inner > .item > img {
    height: auto;
    left: 28%;
    max-width: 70%;
    position: absolute;
    top: 21%;
}
.carousel-caption {
    height: auto;
    left: 4%;
    position: absolute;
    text-align: left;
    top: 10%;
    width: 42%;
    z-index: 10;
}
#list ul {
    margin: 0;
    padding: 0;
}
}


@media (max-width: 1024px) {
.carousel-inner > .item > img {
    height: auto;
    left: 30%;
    max-width: 70%;
    position: absolute;
    top: 25%;
}
.carousel-caption {
    height: auto;
    left: 4%;
    position: absolute;
    text-align: left;
    top: -5%;
    width: 36%;
    z-index: 10;
}
#list ul {
    margin: 0;
    padding: 0;
}
}
@media (max-width: 768px) {
.carousel-inner > .item > img {
    height: auto;
    left: 30%;
    max-width: 70%;
    position: absolute;
    top: 25%;
}

.tophead-spacing {
    margin: 0 auto;
    width: 98%;
}

.carousel-caption {
    height: auto;
    left: 4%;
    position: absolute;
    text-align: left;
    top: -5%;
    width: 36%;
    z-index: 10;
}
}
@media (max-width: 360px) {
.carousel-caption {
    height: auto;
    left: 6%;
    position: absolute;
    text-align: left;
    top: -6%;
    width: 80%;
    z-index: 10;
}
.back-to-top {
    background-color: rgba(235, 235, 235, 0.6);
    bottom: 1em;
    color: #333333;
    display: none;
    font-size: 16px;
    padding: 1em;
    position: fixed;
    right: 32%;
    text-decoration: none;
}
.carousel-inner > .item > img {
    display: none;
    height: auto;
    left: 35%;
    min-width: 10%;
    position: absolute;
    top: 5%;
}
.getInTouch .form-control {
    height: 54px;
    width: 100%;
}
ul.socialLinks {
    float: left;
    margin: 0 auto;
    padding: 0 0 20px 10px;
}
.copyright-links {
    display: block;
    line-height: 1.6em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
}
